# Ignore Gradle files
.gradle/
build/

# Ignore IntelliJ files
.idea/
out/
*.iml
*.iws
*.ipr
.run/

# Ignore Eclipse files
.classpath
.project
.settings/
bin/

# Ignore MacOS files
.DS_Store

# Ignore jenv files
.java-version

# Other dirs
/src.zip
/update_db.sql
/dist/
.vscode/
/out-tsc/
/authorization-service-ad.txt
/todo.txt
/docs-build
node_modules
swagger.json
library/src/main/docker/backend
create.sql
docs/heroku.md
docs/tasks.md
library/src/main/resources/config/application-local.yml
library/src/main/resources/config/application-oracle.yml
library/src/main/resources/config/application-postgres.yml
*.xlsx
src/main/generated

# Exclude intermediate files
sitmun.jar
*.idx

# Exclude Heroku files
.env
env
