language: java

jdk:
  - openjdk11

addons:
  sonarcloud:
    organization: sitmun

env:
  - SPRING_PROFILES_ACTIVE=dev

script: ./build-scripts/script.sh

after_success:
  - ./build-scripts/after_success.sh
  - ./build-scripts/deploy_docs.sh

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.sonar/cache
    - $HOME/.m2/repository
    - .gradle
    - node_modules

deploy:
    - provider: script
      script: bash ./build-scripts/deploy.sh
      on:
        tags: true
    # We deploy every build to the test deployment machine in Heroku
    - provider: heroku
      api_key:
        secure: $HEROKU_TOKEN
      app: sitmun-backend-core
      on:
        all_branches: true
      

# Safelist. The regular expression allows for tagged commits that match it to be built
branches:
  only:
    - master
    - /^\d+\.\d+(\.\d+)?(-\S*)?$/

git:
  depth: false
