# =====================================================================================================================
# Spring Boot configuration
#
# Full reference is available at:
# http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
# =====================================================================================================================

management:
  endpoints:
    web:
      base-path: /api/dashboard
  health:
    ldap:
      enabled: false
    mail:
      enabled: false

sitmun:
  module: SITMUN Core
  version: 3.0-SNAPSHOT
  language: en
  proxy:
    config-response-validity-in-seconds: 3600
  startup:
    code-lists:
      check-on-startup: true
      database-connection-drivers:
        - driver-class: org.h2.Driver
          description: H2 JDBC Driver
        - driver-class: org.postgresql.Driver
          description: PostgreSQL JDBC Driver
        - driver-class: oracle.jdbc.OracleDriver
          description: Oracle JDBC driver
      code-list-values:
        - code-list-name: application.type
          value: T
          description: Tourist application
        - code-list-name: application.type
          value: ED
          description: Edition application
        - code-list-name: tree.type
          value: touristic
          description: Tourist application
        - code-list-name: treenode.folder.type
          value: cartography
          description: Cartography
        - code-list-name: treenode.leaf.type
          value: cartography
          description: Cartography
        - code-list-name: treenode.folder.type
          value: menu
          description: Menu
        - code-list-name: treenode.folder.type
          value: list
          description: List
        - code-list-name: treenode.leaf.type
          value: task
          description: Task
        - code-list-name: treenode.folder.type
          value: fav
          description: Favorites
        - code-list-name: treenode.folder.type
          value: map
          description: Map
        - code-list-name: treenode.viewmode
          value: dl
          description: Detailed list
        - code-list-name: treenode.viewmode
          value: ne
          description: Near elements
        - code-list-name: treenode.viewmode
          value: sch
          description: Schedule
        - code-list-name: treenode.viewmode
          value: evtcat
          description: Events categories
        - code-list-name: treenode.viewmode
          value: evt
          description: Events
        - code-list-name: treenode.viewmode
          value: evtloc
          description: Events locations
        - code-list-name: treenode.folder.type
          value: nm
          description: Near me
        - code-list-name: taskEntity.jsonParamType
          value: string
          description: string
        - code-list-name: taskEntity.jsonParamType
          value: number
          description: number
        - code-list-name: taskEntity.jsonParamType
          value: boolean
          description: boolean
        - code-list-name: taskEntity.jsonParamType
          value: object
          description: object
        - code-list-name: taskEntity.jsonParamType
          value: array
          description: array
        - code-list-name: taskEntity.jsonParamType
          value: "null"
          description: "null"
        - code-list-name: taskEntity.queryType
          value: A
          description: tasksEntity.autocomplete
        - code-list-name: taskEntity.queryType
          value: I
          description: tasksEntity.input
        - code-list-name: taskEntity.queryType
          value: C
          description: tasksEntity.combo
        - code-list-name: queryTask.scope
          value: sql-query
          description: "SQL Query"
        - code-list-name: queryTask.scope
          value: web-api-query
          description: "Web API Query"
        - code-list-name: queryTask.scope
          value: cartography-query
          description: "Cartography Query"
        - code-list-name: queryTask.parameterType
          value: template
          description: "Template parameter"
        - code-list-name: queryTask.parameterType
          value: query
          description: "Query parameter"